<%= link_to "Home", root_path %>
<%= link_to "About", about_path %>
<%= link_to "Schedule", schedule_path %>
<h1>About Us</h1>
<p>We are a versatile Gaming group live streaming many game and platform types from various streamers.</p>